<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>CSV в XML</title>
</head>
<body>
<form action="#"  method="post" enctype="multipart/form-data" th:action="@{/}" th:object="${form}">
    <p>Файл: <input type="file" name="file" ></p>
    <p>
        Сортировка:<br>
        <input type="radio" name="firstSort" th:value="title" th:field="*{firstSorting}"/>Название<br>
        <input type="radio" name="firstSort" th:value="director" th:field="*{firstSorting}" />Режиссер<br>
        <input type="radio" name="firstSort" th:value="genre" th:field="*{firstSorting}" />Жанр<br>
        <input type="radio" name="firstSort" th:value="releaseYear" th:field="*{firstSorting}" />Год выхода<br>
        <input type="radio" name="firstSort" th:value="country" th:field="*{firstSorting}" />Страна-производитель<br>
        <input type="radio" name="firstSort" th:value="kinopoiskScore" th:field="*{firstSorting}" />Оценка на сервисе Кинопоиск<br>
        <input type="radio" name="firstSort" th:value="duration" th:field="*{firstSorting}" />Продолжительность<br>
    </p>
    <p>
        Дополнительная сортировка:<br>
        <input type="radio" name="secondSort" th:value="title" th:field="*{secondSorting}" />Название<br>
        <input type="radio" name="secondSort" th:value="director" th:field="*{secondSorting}"/>Режиссер<br>
        <input type="radio" name="secondSort" th:value="genre" th:field="*{secondSorting}" />Жанр<br>
        <input type="radio" name="secondSort" th:value="releaseYear" th:field="*{secondSorting}" />Год выхода<br>
        <input type="radio" name="secondSort" th:value="country" th:field="*{secondSorting}" />Страна-производитель<br>
        <input type="radio" name="secondSort" th:value="kinopoiskScore" th:field="*{secondSorting}" />Оценка на сервисе Кинопоиск<br>
        <input type="radio" name="secondSort" th:value="duration" th:field="*{secondSorting}" />Продолжительность<br>
    </p>
    <p><input type="submit" value="Upload"> Нажмите, чтобы отправить файл!</p>
</form>
</body>
</html>