<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>CSV в XML</title>
    <link rel="stylesheet" href="/css/formstyle.css"/>
</head>
<body>
<form method="post" enctype="multipart/form-data" th:action="@{/}" th:object="${form}">
    <label>Файл: <input type="file" accept=".csv" name="file"/></label>
    <div class="sort_container">
        <fieldset class="first_sort">
            <legend>Сортировка:</legend>
            <label><input type="radio" name="firstSort" th:value="''" th:field="*{firstSorting}"/>Нет</label>
            <label><input type="radio" name="firstSort" th:value="title" th:field="*{firstSorting}"/>Название</label>
            <label><input type="radio" name="firstSort" th:value="director" th:field="*{firstSorting}"/>Режиссер</label>
            <label><input type="radio" name="firstSort" th:value="genre" th:field="*{firstSorting}"/>Жанр</label>
            <label><input type="radio" name="firstSort" th:value="releaseYear" th:field="*{firstSorting}"/>Год
                выхода</label>
            <label><input type="radio" name="firstSort" th:value="country" th:field="*{firstSorting}"/>Страна-производитель</label>
            <label><input type="radio" name="firstSort" th:value="kinopoiskScore" th:field="*{firstSorting}"/>Оценка на
                сервисе Кинопоиск</label>
            <label><input type="radio" name="firstSort" th:value="duration" th:field="*{firstSorting}"/>Продолжительность</label>
        </fieldset>
        <fieldset class="second_sort">
            <legend>Дополнительная сортировка:</legend>
            <label><input type="radio" name="secondSort" th:value="''" th:field="*{secondSorting}"/>Нет</label>
            <label><input type="radio" name="secondSort" th:value="title" th:field="*{secondSorting}"/>Название</label>
            <label><input type="radio" name="secondSort" th:value="director"
                          th:field="*{secondSorting}"/>Режиссер</label>
            <label><input type="radio" name="secondSort" th:value="genre" th:field="*{secondSorting}"/>Жанр</label>
            <label><input type="radio" name="secondSort" th:value="releaseYear" th:field="*{secondSorting}"/>Год выхода</label>
            <label><input type="radio" name="secondSort" th:value="country" th:field="*{secondSorting}"/>Страна-производитель</label>
            <label><input type="radio" name="secondSort" th:value="kinopoiskScore" th:field="*{secondSorting}"/>Оценка
                на сервисе Кинопоиск</label>
            <label><input type="radio" name="secondSort" th:value="duration" th:field="*{secondSorting}"/>Продолжительность</label>
        </fieldset>
    </div>
    <label>Выбрать фильмы, вышедшие в период с
        <input type="number" min="1920" name="firstYearFilter" th:field="*{firstYearFilter}"/> по
        <input type="number" min="1920" name="lastYearFilter" th:field="*{lastYearFilter}"/></label><br>
    <label><input type="submit" value="Загрузить"> Нажмите, чтобы отправить файл!</label>
</form>
</body>
</html>